include ../../items/number/number
include ../../items/room/room
include ../../items/mapblock/mapblock
include ../../blocks/form/form

mixin rooms()
    main.rooms 
        +form()
        +room({
            img: ['Rectangle 52.jpg', 'Rectangle 53.jpg', 'Rectangle 54.jpg', 'Rectangle 55.jpg'],
            title: 'Супер-люкс',
            area: '2,88',
            size: '180x160x180',
            price: '600',
            equipment: 4
        })

        +number({
            mainTitle: 'Другие номера',
            img: ['Rectangle 1.jpg', 'Rectangle 2.jpg', 'Rectangle 3.jpg'],
            title: 'Сьют',
            area: '1,13',
            size: '100x125x180',
            price: '250'
        })

        +mapblock()
