include ../../items/mapblock/mapblock
include ../../items/number/number
include ../../items/rectangle/rectangle
include ../../items/text-slider/text-slider
include ../../blocks/form/form
include ../../blocks/main-header/main-header


mixin main()
    main.main 
        +form()

        +main-header()
        <a name="why"></a>
        h2 Почему мы
        .main__why 
            - var title = ['Комфортная температура', 'Видеонаблюдение', 'Услуги Зоотакси', 'Сбалансированное питание', 'Ежедневные прогулки', 'Лучшие ветеринары']
            - var text = ['Во всех номерах поддерживается комфортная температура в пределах 23 - 25 градусов. В каждом номере можно дополнительно отрегулировать температуру.', 'Мы предоставляем доступ в нашу систему. Вы сможете следить за своим питомцем со своего смартфона или компьютера.', 'Мы приедем за вашим питомцем в любой район Санкт-Петербурга.', 'Вы можете привезти свой корм или доверить рацион своего питомца нашим профессионалам.', 'По вашему желанию мы выгуливаем вашего питомца два раза в день на специализированной закрытой территории.', 'В гостинице 24 часа дежурит ветеринарный врач, который окажет любую помощь в случае необходимости.']
            -for(var i = 0; i < 6; i++)
                +rectangle({
                    img: i + '.svg',
                    title: title[i],
                    text: text[i]
                })

        +number({
            mainTitle: 'Номера',
            img: ['Rectangle 1.jpg', 'Rectangle 2.jpg', 'Rectangle 3.jpg'],
            title: 'Сьют',
            area: '1,13',
            size: '100x125x180',
            price: '250'
        })
        <a name="feedback"></a>
        .main__text-slider
            h2 Отзывы
            +text-slider({
                text: ['Первый раз пришлось оставить нашего котика в гостинице, очень переживали. Администратор Мария каждый день высылала нам фото нашего питомца, рассказывала, как он себя чувствует. И мы и котик остались очень довольны!', 
                'Гостиницу для питомцев нам посоветовали друзья. Они всегда оставляют здесь своего кота, когда уезжают. В “Котейке” очень хорошо заботятся о питомцах, в гостинице очень чисто. Всем рекомендую! Будем обращаться еще.',
                'Мой кот — настоящая привереда, угодить ему сложно. У меня были особые требования к уходу за ним, и “Котейка” отлично справились. Я часто наблюдал по видео за питомцем со своего телефона, это очень удобно. '],
                autor: ['Павел Нечаев', 'Екатерина Минаева', 'Валерия Гришаева'],
                date: ['15 ноября, 2019', '10 октября, 2019', '23 сентября, 2019']
            }) 

        <a name="where"></a>
        +mapblock()
