include ../../items/mapblock/mapblock
include ../../items/number/number
include ../../items/rectangle/rectangle
include ../../items/text-slider/text-slider
include ../../blocks/form/form


mixin main()
    main.main 
        +form()

        h2 Почему мы
        .main__why 
            -for(var i = 0; i < 6; i++)
                +rectangle({
                    img: i + '.svg',
                    title: 'Комфортная температура',
                    text: 'Во всех номерах поддерживается комфортная температура в пределах 23 - 25 градусов. В каждом номере можно дополнительно отрегулировать температуру.'
                })
        +number({
            mainTitle: 'Номера',
            img: ['cat.svg', 'Rectangle 52.jpg', 'cat.svg'],
            title: 'Сьют',
            area: '1,13',
            size: '100x125x180',
            price: '250'
        })

        .main__text-slider
            h2 Отзывы
            +text-slider({
                text: ['Первый раз пришлось оставить нашего котика в гостинице, очень переживали. Администратор Мария каждый день высылала нам фото нашего питомца, рассказывала, как он себя чувствует. И мы и котик остались очень довольны!', 
                'Гостиницу для питомцев нам посоветовали друзья. Они всегда оставляют здесь своего кота, когда уезжают. В “Котейке” очень хорошо заботятся о питомцах, в гостинице очень чисто. Всем рекомендую! Будем обращаться еще.',
                'Мой кот — настоящая привереда, угодить ему сложно. У меня были особые требования к уходу за ним, и “Котейка” отлично справились. Я часто наблюдал по видео за питомцем со своего телефона, это очень удобно. '],
                autor: ['Павел Нечаев', 'Екатерина Минаева', 'Валерия Гришаева'],
                date: ['15 ноября, 2019', '10 октября, 2019', '23 сентября, 2019']
            }) 


        +mapblock()
