include ../../items/button/button

mixin promotion()
    .promotion
        .promotion__content
            h3.promotion__title Каждый 7-й день 
            h2.promotion__title бесплатно! 
            .promotion__text Акция действует при размещении<br>в номерах "Люкс" и "Супер-Люкс"
            +button({red: false})


//- +promotion()