mixin equipment(options)
    .equipment
        case options.value 
            when 0 
                .equipment__tooltip-toggle(aria-label="Пустой номер")
                    img(src="img/equipment-" + options.value + ".svg", alt="Пустой номер")
            when 1 
                .equipment__tooltip-toggle(aria-label="Лежак")
                    img(src="img/equipment-" + options.value + ".svg", alt="Лежак")
            when 2 
                .equipment__tooltip-toggle(aria-label="Домик")
                    img(src="img/equipment-" + options.value + ".svg", alt="Домик")
            when 3 
                .equipment__tooltip-toggle(aria-label="Игровой комплекс")
                    img(src="img/equipment-" + options.value + ".svg", alt="Игровой комплекс")
            when 4 
                .equipment__tooltip-toggle(aria-label="Когтеточка")
                    img(src="img/equipment-" + options.value + ".svg", alt="Когтеточка")

//- +equipment({
//-     value: 4
//- })
//- +equipment({ 
//-     value: 1
//- })
//- +equipment({
//-     value: 2
//- })
//- +equipment({
//-     value: 3
//- })
//- +equipment({
//-     value: 0
//- })