include ../../items/button/button

mixin main-header()
    .main-header
        .main-header__content
            .main-header__text_small Санкт-Петербург
            h1.main-header__title Котейка 
            .main-header__text Уютная гостиница для котов и кошек 
            +button({red: false})


//- +main-header()