mixin footer()
    footer 
        .footer 
            .footer__top
                .footer__logo 
                    img(src="img/logo.svg", alt="logo")
                nav.footer__nav 
                    .footer__one
                        a(href="#").footer__li Почему мы? 
                        a(href="#").footer__li Номера
                    .footer__one
                        a(href="#").footer__li Отзывы
                        a(href="#").footer__li Как нас найти
        hr
        .footer__bottom
            .footer__text &#169 2019 Все права защищены
            .footer__text Политика конфиденциальности

//- +footer()