//- .form 
//-     img(src="img/paw.svg" class="form__paw")
//-     .form__clear clear
//-     .booking__title Спасибо за заявку! 
//-     .form__text Мы свяжимся с вами в ближайшее время
//-     .booking__button
//-         +button({red: true, text: 'Ок'})