mixin sort()
    .sort
        .sort__main
            .sort__text ↑ По площади
            .sort__arrow keyboard_arrow_down
        .sort__list.sort__none
            .sort__text.sort__li ↓ По площади
            .sort__text.sort__li ↑ По цене
            .sort__text.sort__li ↓ По цене

//- +sort()