.sort 
    width: 174px
    background: $white
    padding: rem(12) rem(20)
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18)
    border-radius: 4px
    cursor: pointer

    &__none 
        display: none

    &__button 
        height: 35px
        border-radius: 25px 
        padding: rem(22) rem(20) 0 rem(20)

    &__main 
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between

    &__text
        font-size: 14px
        line-height: 17px
        margin-bottom: 25px

    &__arrow
        font-family: Material Icons
        font-style: normal
        font-weight: normal
        height: 45px
        width: 24px
        font-size:  rem(24)
        