include ../button/button
include ../equipment/equipment

mixin card(options)
    .card 
        img(src='img/' + options.img, alt="cat")
        .card__main
            h3= options.title
            .card__text= 'Размеры (ШхГхВ) - ' + options.size + ' см' 
            .card__text= 'Площадь - ' + options.area + ' м2'
            .card__equipment
                .card__text Оснощение номера
                .card__icons
                    -var x = options.equipment > 0 ? 1 : 0;
                    -for (; x <= options.equipment; x++)
                        +equipment({value: x})
            .card__text Цена за сутки: 
                span= options.price
            .card__button
                +button({red: true})



+card({
    img: 'cat.svg',
    price: 100,
    title: 'Эконом',
    area: '1,13',
    size: '100x125x180',
    equipment: 4
})