mixin slide-show(options)
    .slide-show 
        img(src="img/" + options.img[0], class="slide-show__main")
        img(src="img/" + options.img[1], class="slide-show__additional slide-show__additional_one")
        img(src="img/" + options.img[2], class="slide-show__additional slide-show__additional_two")
        img(src="img/" + options.img[3], class="slide-show__additional slide-show__additional_three")

+slide-show({
    img: ['Rectangle 52.jpg', 'Rectangle 53.jpg', 'Rectangle 54.jpg', 'Rectangle 55.jpg']
})