.mapblock
    display: flex 
    flex-direction: row
    &__info 
        background: $sub-color
        min-width: rem(260)
        padding: rem(70) rem(110) rem(70) rem(200)
        > h2 
            padding-bottom: rem(50)
            font-size: rem(36)
            line-height: rem(43)

    &__bold
        font-weight: bold

    &__map
        width: 100%
        height: rem(580)
