mixin mapblock 
    .mapblock
        .mapblock__info 
            h2.mapblock__bold Как нас найти
            .mapblock__li.mapblock__bold Адрес
            .mapblock__li Санкт-Петербург, ул Большая Конюшенная, д 19
            .mapblock__li.mapblock__bold Режим работы
            .mapblock__li Ежедневно, с 9:00 до 20:00
            .mapblock__li.mapblock__bold Телефон
            .mapblock__li 8 (800) 333-55-99
            .mapblock__li.mapblock__bold E-mail
            .mapblock__li info@cat-hotel.ru
            .mapblock__li.mapblock__bold Социальные сети
            .mapblock__social 
                a(href="#")
                    img(src="img/facebook.svg", alt="facebook" class='.mapblock__icon')
                a(href="#")
                    img(src="img/instagram.svg", alt="instagram" class='.mapblock__icon')
                a(href="#")
                    img(src="img/vk.svg", alt="vk" class='.mapblock__icon')

        <iframe class="mapblock__map" src="https://yandex.ru/map-widget/v1/?um=constructor%3A9f41a264ae3a2977a20eca61b0bc231142ddf33df4bd77e2c48ab4458236cd7f&amp;source=constructor" frameborder="0"></iframe>

+mapblock()