@font-face
  font-family: 'Lato'
  src: url(fonts/latoregular.woff)
  font-weight: normal
  font-display: swap

@font-face
  font-family: 'Lato'
  src: url(fonts/latobold.woff)
  font-weight: bold
  font-display: swap


@font-face
  font-family: 'Rubik'
  src: url(fonts/Rubik.woff)
  font-weight: normal
  font-display: swap


@font-face
  font-family: 'Rubik'
  src: url(fonts/Rubikbold.woff)
  font-weight: bold
  font-display: swap

@font-face
  font-family: 'Material Icons'
  src: url(fonts/MaterialIcons-Regular.woff)
  font-display: swap


