//- include ../components/items/rectangle/rectangle
//- include ../components/items/number/number
//- include ../components/items/button/button
//- include ../components/items/mapblock/mapblock
//- include ../components/items/equipment/equipment
//- include ../components/items/card/card
//- include ../components/items/slide-show/slide-show
//- include ../components/items/room/room
//- include ../components/blocks/header/header
//- include ../components/blocks/filter/filter
//- include ../components/blocks/form/form
//- include ../components/blocks/footer/footer
//- include ../components/blocks/promotion/promotion
//- include ../components/items/input/input
include ../components/items/sort/sort
//- include ../components/items/text-slider/text-slider
