//- include ../components/items/rectangle/rectangle
//- include ../components/items/number/number
//- include ../components/items/button/button
//- include ../components/items/mapblock/mapblock
//- include ../components/items/mapblock/mapblock
