include includes
doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        title Котейка
        meta(name="keywords" content="Котейка, hotelcat, гостиница для котов и кошек")
        meta(name="description" content="Котейка - уютная гостиница для котов и кошек. Все условия: комфортная температура, услуги зоотакси, сбалансированное питание, лучшие ветеринары, ежедневные прогулки.")
        meta(name="robots" content="index, follow")
        meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=2.0")
    body
        +header()
        block content
        +footer()
