include menu/menu

mixin header()
    header
        +menu()
        .header
            .header__logo 
                a(href="index.html")
                    img(src="img/logo.svg", alt="logo")
            .header__nav 
                nav 
                    a(href="index.html#why").header__li Почему мы? 
                    a(href="search.html").header__li Номера
                    a(href="index.html#feedback").header__li Отзывы
                    a(href="index.html#where").header__li Как нас найти

//- +header()